.grid-content {
    background-color: rgb(212, 217, 227);
}
.leftnav {
    background-color: rgb(227, 231, 244);
    height: 500px;
}
.comment {
    margin-top: 20px;
    height: 300px;
    margin-bottom: 40px;
}
.main {
    height: 600px;
}
.el-row.is-justify-center {
    margin-left: 0px!important;
}